$black : #000000;
$black2: #0A0B0C;
$white: #ffffff;
$red: #da251c;
$red-bg: #ffb5b1;
$orange: #FD7F00;
$orange-bg: #fbd3ab;
$purple: #6E44FF;
$purple-bg: #99c6ff;
$darkblue: #0A305F;
$darkblue-bg: #4e73a1;
$lightblue: #23B5D3;
$lightgrey: #F8F8F8;
$grey: #F2F4F6;
$facebook: #4C6CB3;
$twitter: #00ACED;
$linkedin: #0274B3;
$youtube: #FF0000;